@import url("https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Goldman", sans-serif;
}

:root {
  --color-primary: #faa300;
  --color-secondary: #9b3d12;
  --color-third: #5e747f;
  --color-black: #000;
  --color-white: #fff;
}

body {
  background-color: var(--color-black);
}

.menu {
  top: 70px;
}

.menu-items {
  display: flex;
  flex-direction: column;
}

.btn-menu {
  position: absolute;
  background-color: transparent;
  border: none;
  cursor: pointer;
  top: 0;
  right: 0;
}

.menu-icon {
  width: 64px;
  height: 64px;
  stroke: var(--color-primary);
  fill: var(--color-primary);
}

.nav-link {
  text-decoration: none;
  color: var(--color-primary);
  text-shadow: 0px 3px 0px var(--color-secondary);
  font-size: 2.3rem;
  -webkit-text-stroke: 1px var(--color-black);
}

.main {
  background-image: url(./assets/img/main-mobile.jpg);
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.txt-white {
  color: var(--color-white);
}

.txt-black {
  color: var(--color-black);
}

.text-third {
  color: var(--color-third);
}

.title {
  color: var(--color-white);
  font-size: 3rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.styled-title {
  color: var(--color-primary);
  text-shadow: 0px 4px 0px var(--color-secondary);
  -webkit-text-stroke: 1px var(--color-black);
}

.text-6 {
  font-size: 6rem;
}

.text-4 {
  font-size: 4rem;
}

.text-2 {
  font-size: 2rem;
}

.text-center {
  text-align: center;
}

.text-bottom {
  position: relative;
  top: 70%;
}

.text-justified {
  text-align: justify;
}

.container {
  margin: 1rem 2rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mw-1{
    margin-right: 1rem;
    margin-left: 1rem;
}

.card {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  width: 80vw;
  height: 80vh;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: white;
  text-align: center;
  position: relative;
}

.card-content {
  position: absolute;
  background-color: rgba(94, 116, 127, 0.5);
  bottom: 0;
  width: 100%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.card-hemilio {
  background-image: url(assets/img/hemilio.jpg); /* Replace 'your-image.jpg' with the path to your image */
}

.card-marco {
  background-image: url(assets/img/marco.jpg); /* Replace 'your-image.jpg' with the path to your image */
}

.card-lucas {
  background-image: url(assets/img/lucas.jpg); /* Replace 'your-image.jpg' with the path to your image */
}

.card svg {
  width: 2rem;
  height: 2rem;
}
