@import url("https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Goldman", sans-serif;
}

:root {
  --color-primary: #faa300;
  --color-secondary: #9b3d12;
  --color-third: #5e747f;
  --color-black: #000;
  --color-white: #fff;
}

body {
  background-color: var(--color-black);
  color: var(--color-white);
}

header {
  display: flex;
  justify-content: flex-end;
}

.menu-button {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 24px;
  cursor: pointer;
  padding: 16px;
}

.menu-button div {
  height: 4px;
  background: var(--color-primary);
  border-radius: 2px;
  position: relative;
}

.nav-menu {
  display: none;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-black);
  position: fixed;
  z-index: 999999;
  left: 0;
  width: 100%;
  height: 100%;
}

.close-button {
  margin: 16px;
  align-self: flex-end;
  background: none;
  border: none;
  font-size: 32px;
  cursor: pointer;
  color: var(--color-primary);
  -webkit-text-stroke: 1px var(--color-black);
  text-shadow: 2px 2px 0px var(--color-secondary);
  margin-bottom: 16px;
}

.nav-menu a {
  text-decoration: none;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.nav-menu.active {
  display: flex;
}

.main {
  background-image: url(./assets/img/main-mobile.jpg);
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.main h1 {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 6rem;
}

.container {
  margin: 2rem 2rem;
}

.text-styled {
  font-weight: bold;
  color: var(--color-primary);
  -webkit-text-stroke: 1px var(--color-black);
  text-shadow: 2px 2px 0px var(--color-secondary);
}

.text-justified {
  text-align: justify;
}

.text-third {
  color: var(--color-third);
}

.title {
  font-size: 3rem;
  margin-bottom: 1rem;
  text-align: center;
}

#about p {
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  .header {
    justify-content: flex-end;
  }

  .menu-button {
    display: none;
  }

  .nav-menu {
    display: flex !important;
    flex-direction: row;
    justify-content: center;
    position: static;
    background-color: transparent;
  }

  .nav-menu a {
    margin-left: 16px;
  }

  .nav-menu button {
    display: none;
  }

  .main {
    background-image: url(./assets/img/main-desktop.jpg);
    background-size: cover;
    width: 100vw;
    height: 100vh;
  }

  .container {
    margin: 1rem 8rem;
  }

  #about p {
    margin-bottom: 1rem;
  }
}
